.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dfefff, #f7fbff);
}

.login-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background:#f1a63b;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  
}
.login-btn:hover {
  background-color: #e28a0e;
  transform: scale(1.03);
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register-link span {
  color:#f1a63b;
  cursor: pointer;
  font-weight: bold;
}